:global .layout-create-input {
    .ant-form-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .ant-form-item-control {
            width: 60%;
        }

        @media (max-width: 768px) {
            .ant-form-item-control {
                width: 100%;
            }
        }

        .ant-input-number {
            width: 100%;
        }
    }
}
