/*
* Layout from dynamic field
*/
.formBuilder {
    display: flex;
    flex-direction: column;
}

:global .layout-edit-input {
    .ant-form-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .ant-form-item-control {
            width: 60%;
        }

        .ant-input-number {
            width: 25%;
        }
    }
}

/*
* Layout from FormBuilder
*/
.layoutEditInput {
    background-color: white;
    box-shadow: 0px 0px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 8px;

    .deleteIcon {
        display: flex;
        align-items: center;
        justify-content: center;
        color: red;
    }
}

:global .layout-edit-ingredients-input {
    display: flex;
    flex-direction: column;
    .ant-form-item {
        display: flex;
        align-items: flex-start;
    }
}

.btnActionAddIngredient {
    margin-bottom: 35px;
}

.btnActionAddStep {
    margin: 45px 0;
}
