.logo {
}

// Sidebar
.menuSideBar {
    margin-top: 10px !important;
}

// Header
.header {
    // padding: 0;

    .trigger {
        color: white;

        &:hover {
            color: #1890ff;
        }
    }
}

// Content
.contentLayout {
    margin: 24px 16px;
    padding: 25px;
    min-height: calc(100vh - 112px) !important;
}

.containerLogo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: white;
    // width: 70%;
}
