.cardRecipe {
    width: 320px;
    .cardRecipe__img {
        width: 320px;
    }

    .edit {
    }

    .delete {
        &:hover {
            color: red !important;
        }
    }

    .cardPersonTiming {
        display: flex;
        margin: 12px 0;

        .userIcon {
            margin-right: 8px;

            .icon {
                margin-right: 3px;
            }
        }
    }

    .stars {
        svg {
            fill: rgb(231, 231, 68);
        }
    }
}
